* {
    border: 0 none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    vertical-align: bottom;
}
.panel-content:after, .clearfix:after, div.panel-intro:after, ul.index li:after, ul.results li:after, div#page-body:after, div.tab-content:after, div.index-item:after, div.recordset-navigation:after, header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: arial;
    font-size: 100%;
    line-height: 1.3em;
}
a {
    color: #0000FF;
    font-weight: bold;
    text-decoration: underline;
}
a.point-right {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
    text-align: right;
}
a[href^="tel:"] {
    text-decoration: none;
}
header, footer, nav {
    display: block;
}
header {
    margin: 0;
    padding: 5px;
}
#page-logo {
    float: left;
    margin: 0 0 10px;
	}

#search-site {
    padding: 12px 0 0;
    width: 100%;
}
#search-site ul {
    margin-left: 152px;
}
/*
.button {
    display: inline-block;
    float: left;
    width: 100%;
}
header .button a {
    background-color: #F2F2F2;
    border: 1px solid #999999;
    border-radius: 4px;
    clear: both;
    color: #000000;
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 7px 10px;
    text-decoration: none;
}
header .button a:after {
    content: url("images/arrow-down2.gif");
    padding-left: 10px;
}
.nav-col-1, .nav-col-2 {
    float: left;
    margin: 0 1% 10px;
    width: 48%;
}
.nav-col-1 li, .nav-col-2 li {
    border-bottom: 1px solid #999999;
    padding: 8px 4px;
}
.nav-col-1 li a, .nav-col-2 li a {
    display: block;
    font-weight: bold;
}
.nav-col-1 li:last-child, .nav-col-2 li:last-child {
    border-bottom: 0 none;
}
#nav-breadcrumbs {
    border-bottom: 1px solid #999999;
    clear: left;
    font-size: 0.9em;
    margin: 0 0 5px;
    padding: 0 5px;
}
#nav-breadcrumbs-menu, #nav-breadcrumbs-menu li {
    display: inline;
}
#nav-breadcrumbs a {
    text-decoration: none;
}
*/
h1 {
    font-size: 1.7em;
    line-height: 1.3em;
    padding: 5px;
}
h2, h3, h3, h4, h5 {
    font-weight: bold;
}
h3 {
	font-size:1.2em;
	margin:0 0 10px;
}
em, i {
    font-style: italic;
}
p {
    padding: 0 0 5px;
}
b {
    font-weight: bold;
}
.smaller {
    font-size: 90%;
}
.panel {
    padding: 0 5px;
}
.panel-intro {
    padding: 5px 0;
}
.panel-content {
	padding:0 0 15px;
	margin:0 0 15px 0;
	border-bottom:1px solid #999;
}
.panel .panel-content:last-child {	
	border-bottom:0px solid #999;
	margin:0;
}
.panel h2 {
	color: #000000;
    margin: 0;
    padding: 5px 0;
}
.panel ul {
    margin:0;
}
.panel ul li {
    background: none;
    padding: 0 0 15px 0;
}
.panel ul li:last-child {
    padding: 0;
}
/*.panel ul.info li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.panel .index li, .index-item {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    Xborder-top: 1px solid #999999;
    clear: left;
    padding: 0 5px;
}*/
.panel .index h6, .panel .index-item h6 {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 0;
    position: relative;
    Xtop: -2px;
}
.panel ul.index li img, .panel .index-item img {
    clear: left;
    float: left;
    Xheight: 62px;
    padding: 0 10px 0 0;
    Xwidth: 62px;
}
.high-light {
    margin: 0 0 5px;
    padding: 5px;
}
.promo-panel {
    border: 2px solid #999999;
    margin: 0 0 10px;
    padding: 5px;
}
.panel h6 a, #top-nav a {
    text-decoration: none;
}
.image {
    margin: 0;
}
.right {
    float: right;
    margin: 0 0 5px 10px;
}
.left {
    float:left;
	margin: 0 10px 5px 0;
}
.centered {
    margin: 0 auto;
}
.image p {
    background-color: #333333;
    color: #FFFFFF;
    padding: 5px;
}
footer {
    margin: 0 0 5px;
    padding: 0 5px 5px;
}
footer ul {
    line-height: 1.5em;
    margin: 5px 0;
}
footer li {
    border-right: 1px solid #999999;
    display: inline;
    font-size: 16px;
    margin: 5px 0;
    padding: 0 5px;
}
footer li:last-child {
    border-right: 0 none;
}
footer nav {
    border-bottom: 1px solid #999999;
}
footer a {
    font-weight: bold;
    text-decoration: none;
}
form {
	padding: 0 0 0px;
}
.social {
    border-top: 1px solid #999999;
    padding-top: 5px;
}
.panel .social-media li {
    float:left;
	display: inline;
	padding:0 10px 0 0;
}
.social .facebook {
    background-image: url("generic/images/social-networks/16px/facebook.gif");
}
.social .twitter {
    background-image: url("generic/images/social-networks/16px/twitter.gif");
}
.social .youtube {
    background-image: url("generic/images/social-networks/16px/youtube.gif");
}

/* Form extras - validation and small print */

form {
    margin: 1em 0;
}

fieldset {
    overflow: hidden;
}

.feedbackWrapper {
    clear: both;
    overflow: hidden;
    position: relative;
}

#email-input,
#email-button {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    height: 30px;
    margin: 5px 0;
    padding: 4px 0;
    width: 100%;
}

#email-input {
    background: none;
    color: #999;
    padding-left: .25em;
    padding-right: .25em;
    float: none;
}

#email-input:focus {
    color:#000;
}

#email-button {
    display: block;
    font-size: 13px;
    font-weight: bold;
}
/*
@media (max-width: 479px ){
    #email-input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }

    #email-button {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0;
    }
}

@media (min-width: 480px ){
*/
    #email-input {
        border-right-width: 1px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        float: left;
        width: 59.999%;
    }

    #email-button {
        border-left-width: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        display: block;
        float: none;
        overflow: hidden;
        /*width: auto;*/
        width: 39.999%;
        _left: -3px;
        _margin-right: -3px;
        _position: relative;
    }
    
    #email-button:after {
        clear: both;
        content: '';
        display: table;
        height: 0 !important;
        line-height: 0;
        visibility: hidden;
    }

/*
}
*/

.feedback {
    clear: both;
    position: relative;
	padding-bottom:7px;
}

form.invalid .feedback {
    color: #b40000;
}

.smallPrint {
    clear: both;
    position: relative;
	font-size:10px;
	line-height:12px;
}


/* added by mike - 2014/02/03 */
ul.index h6 a
{
    color: #0000FF;
    font-weight: bold;
    text-decoration: underline;
}