$elysio-light: "Elysio-Light", Helvetica, Arial, sans-serif;
$elysio-regular: "Elysio-Regular", Helvetica, Arial, sans-serif;
$elysio-medium: "Elysio-Medium", Helvetica, Arial, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$gutter: 20px;
$tablet: 768px;
$black: #000000;
$white: #FFFFFF;
$grey: #808080;
$dark-grey: #565656;
$visit-color: #A1164E;